
.box{
    border: 2px solid rgb(0, 0, 0);
    height: 90px;
    display: flex;
    text-align: center;
    width: 70%;
    display: block;
    margin: auto;
    padding: 50px;
    margin-top: 10px;
    font-size: 40px;
}
body {
margin: 0;
padding: 0;
background-color: black;
color: white;
font-family: 'Rajdhani', sans-serif;
}

header::before {
/* background-image: url('/Pictures/bg.jpg'); */
background-image: url('/Projects/Safarcopy/Logo/bubg.jpg');
background-repeat: no-repeat;
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.4;
}

.left {
position: absolute;
top: 20px;
left: 55px;
display: inline-block;
/* border: 2px solid red; */
text-align: center;
}

.left img {
width: 150px;
/* filter: invert(100%); */
}

.left div {
text-align: center;
}

.mid {
display: block;
width: 33%;
margin: 20px auto;
font-size: 30px;
/* border: 2px solid green; */

}

.navbar {
display: inline-block;
}

.navbar li {
display: inline-block;
}

.navbar li a {
color: white;
text-decoration: none;
font-size: 20px;
padding: 15px 20px;
transition: all 0.5s ease-in-out;
}

.navbar li a:hover,
.navbar li a.active {
    color: #7887b1;
    text-decoration: none;

}

.right {
position: absolute;
top: 50px;
right: 55px;
display: inline-block;
/* border: 2px solid yellow; */
}

.btn {
background-color: black;
color: white;
margin: 0px 20px;
padding: 10px 10px;
border: 1px solid gray;
border-radius: 15px;
font-size: 15px;
cursor: pointer;
font-family: 'Rajdhani', sans-serif;
text-decoration: none;
transition: all 0.5s ease-in-out;
}

.btn:hover{

    background-color: #7887b1;
    border: 1px solid black;

}

.container {
    text-align: center;
    border: 2px solid whitesmoke;
    /* margin: 170px 148px; */
    margin: auto;
    margin-top: 200px;
    padding: 35px 18px;
    border-radius: 26px;
    width: 1000px;
    height: 300px;
}

.form input {
    display: block;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    font-family: 'Rajdhani', sans-serif;
}
