.mainbox {
    height: 800px;
    display: flex;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 40px;
}

#details {
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    display: flex;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.cbox {
    height: 120px;
    width: 250px;
    margin: 0px;
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

header::before {
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.left {
    position: absolute;
    top: 20px;
    left: 55px;
    display: inline-block;
    text-align: center;
}

.left img {
    width: 120px;
}

.left div {
    text-align: center;
}

.mid {
    display: block;
    width: 43%;
    margin: 20px auto;
    font-size: 30px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 15px 20px;
    transition: all 0.5s ease-in-out;
}

.navbar li a:hover,
.navbar li a.active {
    color: #7887b1;
    text-decoration: none;
}

.right {
    position: absolute;
    top: 58px;
    right: 60px;
    display: inline-block;
}

.btn {
    background-color: black;
    color: white;
    margin: 0px 20px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    width: auto;
    text-align: center;
}

.btn:hover {
    background-color: #7887b1;
    border: 1px solid black;
}


/* 
#boxd{
    width: 460px;
    }
#box1{
width: 260px;
}
#box2{
width: 190px;
}
#box3{
width: 190px;
}
#box4{
width: 180px;
}
#box5{
width: 180px;
}
#box6{
width: 100px;
} */

.error {
    color: white;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    display: flex;
    width: 70%;
    display: block;
    margin: 100px auto;
    padding: 25px;
    font-size: 50px;
    border-radius: 15px;
}

#details {
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    display: flex;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in;
    transition-timing-function: linear;
}

.bookbtn {
    background-color: black;
    color: white;
    margin: 0px 20px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    width: 150px;
    text-align: center;
    margin-left: 475px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.bookbtn:hover {
    background-color: #7887b1;
    border: 1px solid black;
    width: 185px;
    height: auto;
}

#heading {
    margin-top: 0px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: -50px; */
    font-size: 55px;
    text-align: center;
}